@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 9</h1>
    <p class="lead">Add functionality to an existing app. Implement richness for text and media item handling.</p>
    <p><a href="https://petermcintyre.com/bti420/graded-work/assign9/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Introduction to the problem to be solved</h2>
        <p>ere, in Assignment 9, you will add rich text handling, as typically found in a production-quality public-facing web app. In addition, you will have the ability to work with media items in many different forms, again typical of the public web.</p>
    </div>
    <div class="col-md-4">
        <h2>Work plan</h2>
        <p>Modify the data model, to accommodate a lengthy rich text field in the Artist entity class</p>
        <p>Update “add new” and optionally implement “edit existing” for Artist, to support rich text entry</p>
        <p>Update “get…” view(s) to display objects that have rich text</p>
        <p>Modify the data model again, to accommodate non-text media types in the Artist and Track entity classes</p>
        <p>Support add and display of the richer-looking objects</p>
    </div>
</div>
